<div class="container">
  <div class="sideA">
    <div class="boxLogin">
      <div>
        Boas vindas
      </div>
      <div>
        <form action="">
          <div class="dfaljf" style="margin: 10px;" >
            <input type="text" style="width: 100%;" placeholder="Email">
          </div>
          <div class="dfaljf" style="margin: 10px;">
            <input type="text" style="width: 100%;" placeholder="Senha">
          </div>
          <div style="display: flex;width: 300px;justify-content: space-between;">
            <div>
              <input type="checkbox" name="" id="">
              Lembre de mim
            </div>
            <div>
              <a href="#">Esqueceu a senha?</a>
            </div>
          </div>
          <div class="dfaljf" style="padding: 30px;">
            <button  style="padding: 3px 10px;">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="sideB">

  </div>
</div>
